<!-- Home Page -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<title>William Dunkerley</title>
    	<!-- <link rel="shortcut icon" type="image/png" href="../images/favicon.png"/> -->
    	<link href='http://fonts.googleapis.com/css?family=Dosis:500|Roboto|Raleway' rel='stylesheet' type='text/css'>
    	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
    	<link href="../css/style.css" rel="stylesheet">
	</head>
	<body>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
		<script src="../js/js.js"></script>

		<div id="shadowbox"></div>

		<section id="nav-section">
			<div id="nav-wrapper">
				<div id="nav-vertical">
					<img id="nav-button" class="icons" src="../images/icons/list.png">
					<ul id="nav-content">
						<li class="nav-item"><a href="../">Home</a></li>
						<li class="nav-item"><a href="http://github.com/hahaveryfun">Projects</a></li>
						<li class="nav-item"><a href="http://flipside.williamdunkerley.com">Podcasts</a></li>
						<li class="nav-item"><a href="../photography">Photography</a></li>
					</ul>
				</div>
			</div>
		</section>
		<section id="content-section">
			<div id="content-wrapper" ng-app="profileApp" ng-controller="PhotographyController">
				<div id="photo-window">
					<img id="exitfullsizeimage" class="icons" ng-click="deactivatePhotoWindow()" src="../images/icons/circle_delete.png">
					<img id="backfullsizeimage" class="icons" src="../images/icons/arrow_left.png" ng-click="changePhotoWindow(false, photolist.data)">

					<img id="fullsizeimage" ng-src="{{photo.data}}">

					<img id="nextfullsizeimage" class="icons" src="../images/icons/arrow_right.png" ng-click="changePhotoWindow(true, photolist.data)">
				</div>
				<div id="photography-wrapper" ng-init="buildPhotoList()">
					<img ng-repeat="photo in photolist.data track by $index" ng-click="activatePhotoWindow($index, photolist.data)" ng-src="{{trustUrl(photo.thumbnail)}}">
				</div>	
			</div>
		</section>
	</body>
</html>